/* LION PHONE */

.lionPhone {
    position: absolute;
    width: 254px;
    height: 530px;
    margin-top: 400px;
    box-shadow: 1px 1px 70px 1px rgb(0 255 42);
    margin-left: 1000px;
    border: 7px rgb(43, 43, 43) solid;
    border-radius: 32px;
    background: rgb(43, 43, 43) url(./img/Screenshot.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.phoneButtonsSwitch {
    left: 246px;
    top: 135px;
    position: relative;
    height: 31px;
    width: 3px;
    border-radius: 20px;
    background-color: rgb(53, 53, 53);
}

.phoneButtonsPower {
    left: 246px;
    top: 146px;
    position: relative;
    height: 44px;
    width: 3px;
    border-radius: 20px;
    background-color: rgb(53, 53, 53);
}

.phoneButtonsVolume {
    left: -9px;
    top: 40px;
    position: relative;
    height: 81px;
    width: 3px;
    border-radius: 15px;
    background-color: rgb(53, 53, 53);
}

.blinkingStick {
    left: 28px;
    top: 338px;
    position: relative;
    height: 19px;
    width: 2px;
    border-radius: 20px;
    animation: blinkingStick 400ms cubic-bezier(1, -0.11, 0, 0.9) infinite alternate;
}

@keyframes blinkingStick {
    from {
        background-color: rgb(30, 30, 30);
    }
    to {
        background-color: rgb(89, 133, 194);
    }
}