body {
    margin: 0;
}

* {
    -webkit-print-color-adjust: exact;
    box-sizing: border-box;
}

main {
    padding-top: 18px;
    background-image: url(./img/bodybackgroundpng.png);
    background-size: contain;
    max-width: 100vw;
    min-width: 1600px;
}


/* CONTAINER */

.container {
    margin-bottom: -100px;
    height: auto;
    max-width: 1700px;
    min-width: 1520px;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:1200px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width:767px) {
    .container {
        max-width: none;
    }
}


/* BLOCKS */

.boxForBlock {
    position: relative;
    display: block;
    width: 250px;
    height: 250px;
    background: none;
}

.greenBlock {
    position: absolute;
    background-color: #a3ff2a;
    opacity: 60%;
    width: 156px;
    height: 162px;
    top: 5%;
    left: 2%;
    border-radius: 30px;
}

.borderForGreenBlock {
    position: absolute;
    width: 160px;
    height: 164px;
    left: 2%;
    top: 12px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 32px;
}

.borderForGreenBlock2 {
    position: absolute;
    width: 169px;
    height: 173px;
    top: 8px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 32px;
}

.purpuleBlock {
    position: absolute;
    background-color: #e61453;
    opacity: 60%;
    width: 156px;
    height: 160px;
    top: 30%;
    left: 19%;
    border-radius: 30px;
    z-index: 1;
}

.borderForPurpuleBlock {
    position: absolute;
    width: 158px;
    height: 164px;
    left: 19%;
    top: 73px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 34px;
    z-index: 1;
}

.borderForPurpuleBlock2 {
    position: absolute;
    width: 167px;
    height: 174px;
    left: 17%;
    top: 68px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 34px;
    z-index: 1;
}


/* TRAFFIC LIGHTS */

.boardForLight {
    height: 300px;
    width: 160px;
    margin-left: 50px;
    border: black solid 3px;
    border-radius: 20px;
    background-color: rgb(173, 173, 173);
}

.redLight {
    position: relative;
    top: 18px;
    left: 40px;
    height: 80px;
    width: 80px;
    border: black solid 2px;
    border-radius: 50%;
    background-color: red;
}

.yellowLight {
    position: relative;
    top: 23px;
    left: 40px;
    height: 80px;
    width: 80px;
    border: black solid 2px;
    border-radius: 50%;
    background-color: yellow;
}

.greenLight {
    position: relative;
    top: 28px;
    left: 40px;
    height: 80px;
    width: 80px;
    border: black solid 2px;
    border-radius: 50%;
    background-color: green;
}


/* THREE BLOCKS */

.greyBlock {
    position: relative;
    top: 101px;
    left: 74px;
    height: 80px;
    width: 80px;
    border: black solid 2px;
    border-radius: 15%;
    background-color: rgb(105, 105, 105);
    transform: rotate(15deg);
}

.blueBlock {
    position: relative;
    top: 18px;
    left: 40px;
    height: 80px;
    width: 80px;
    border: black solid 2px;
    border-radius: 15%;
    background-color: rgb(10, 96, 255);
    transform: rotate(45deg);
}

.whiteBlock {
    position: relative;
    top: 101px;
    left: 6px;
    height: 80px;
    width: 80px;
    border: black solid 2px;
    border-radius: 15%;
    background-color: rgb(255, 255, 255);
    transform: rotate(345deg);
}


/* Switzerland Flag */

.redBackground {
    width: 200px;
    height: 200px;
    margin-left: 60px;
    border: 1px rgb(0, 0, 0) solid;
    background-color: rgb(172, 22, 22);
}

.whitePlus {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-top: 50px;
    background-color: rgb(221, 221, 221);
    clip-path: polygon(0 36%, 34% 36%, 34% 0%, 66% 0%, 66% 36%, 100% 36%, 100% 66%, 66% 66%, 66% 100%, 34% 100%, 34% 68%, 0 68%);
}


/* CLOCK */

.boardForClock {
    position: absolute;
    margin-top: 210px;
    left: 1210px;
    height: 280px;
    width: 280px;
    border: black solid 2px;
    border-radius: 22%;
    background-color: rgb(228, 228, 228);
}

.verticalArrow {
    top: 8%;
    left: 49%;
    position: absolute;
    height: 53%;
    width: 10px;
    background-color: rgb(0 0 0);
    z-index: 3;
}

.gorizontalArrow {
    top: 50%;
    left: 43%;
    position: absolute;
    height: 10px;
    width: 100px;
    background-color: rgb(0 0 0);
}

.leftCircle {
    position: relative;
    height: 40px;
    width: 40px;
    border: black solid 2px;
    border-radius: 50%;
    background-color: red;
}

.rightCircle {
    position: relative;
    height: 38px;
    width: 38px;
    border: black solid 2px;
    border-radius: 50%;
    background-color: red;
}

.topCircle {
    position: relative;
    height: 38px;
    width: 38px;
    border: black solid 2px;
    border-radius: 50%;
    background-color: red;
}

.bottomCircle {
    position: relative;
    height: 38px;
    width: 38px;
    border: black solid 2px;
    border-radius: 50%;
    background-color: red;
}

.leftRightCircles {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topBottomCircles {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* CALC */

.boardForCalc {
    position: absolute;
    padding-top: 10px;
    display: flex;
    margin-left: 1228px;
    margin-top: 496px;
    height: 480px;
    width: 250px;
    background-color: rgb(164 179 149);
    border: 1px black solid;
    border-radius: 5%;
    flex-direction: column;
    align-items: center;
}

.clacWindow {
    font-family: sans-serif;
    font-size: 80px;
    display: flex;
    height: 260px;
    width: 226px;
    background-color: rgb(255 255 255);
    border: 1px black solid;
    border-radius: 12%;
    align-items: center;
    justify-content: center;
}

.calcKeyBoard {
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    display: grid;
    height: 200px;
    width: 225px;
    background-color: rgb(164 179 149);
    border-radius: 12%;
    justify-items: center;
    margin-top: 20px;
}

.timeOnPhone {
    position: absolute;
}

.button {
    height: 38px;
    width: 38px;
    border: black solid 2px;
    border-radius: 50%;
    background-color: rgb(92, 92, 92);
}


/* LAB */

.Lab {
    margin-left: 5px;
}

.textarea {
    border: 2px black solid;
    height: 100px;
    width: 240px;
    margin-top: 8px;
}

.password {
    margin-top: 8px;
}

.selectCity {
    margin-top: 8px;
}


/* GALLERY */

.gallery {
    display: flex;
    margin-left: 20px;
    height: 480px;
    width: 640px;
    justify-content: space-between;
    align-items: center;
}

#leftButton {
    height: 30px;
    width: 30px;
}

#img {
    object-fit: cover;
    height: 440px;
    width: 560px;
    background-color: dimgray;
}

#rightButton {
    height: 30px;
    width: 30px;
}